.header12 {


    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
    z-index: 0;
    background-image: url('/src/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* opacity: 30%; */
}